@charset "utf-8";
/* CSS Document */
/*
.quotation{
   font-family: 'Bungee', sans-serif, Arial, Helvetica;
  font-size: 1em;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  font-style: italic;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 10px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
*/
p.quote {
	font-family: 'Bungee', sans-serif, Arial, Helvetica;
    color: #0688de;
    color: #0688de;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: uppercase;
}

q:before {
	font-family: 'Bungee', sans-serif, Arial, Helvetica;
	display: block;
    content: "“" ;
    color: #0688de;
    font-size: 4em;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
}

q:after {
    content: no-close-quote;
}

footer{
  margin:0;
  text-align: right;
  font-size: 1em;
  font-style: italic;
}

.icon-block-description {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}


    /*-----------------Internet Explorere IE styles -----------------*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // IE10+ CSS here	
q:before {
	font-family: 'Bungee', sans-serif, Arial, Helvetica;
	display: block;
    content: "“" ;
    color: #0688de;
    font-size: 1em;
	margin-left: auto;
    margin-right: auto;
}	
}